h1 {
  color: #ff0000;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p{
  font-family: sans-serif;
  color: #59ee99;
  line-height: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 50px;
}

ul{
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-family: sans-serif;
  text-align: center;
}
